@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Pacifico');
body{
	background-color: #0F2726;
}
.carta{
	background-color: #F1F1EF;
	width: 40%;
	margin-left:30%;
	padding: 10px;
	text-align:center;
}
h1{
	font-family: 'Pacifico', cursive;
	color: black;
}
h2{
	font-family: 'Pacifico', cursive;
	padding-bottom:0px;
	margin-bottom:-5px;
	color: black;
}
p{
	font-family: 'Arial';
	fon-size: 16px;
	}
img{margin:0px; padding:0px;}